**/__pycache__/
*.py[cod]
venv/
.env
*egg-info

secrets/
logs/
results.txt
git_diff.txt
command.txt
temp.txt
git_changes.diff
*.backup
.coverage

#
# Gateway
#

gateway/commands.md

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
