[Unit]
Description=CodeQuery Core Service
After=network.target

[Service]
User=danfmaia    
WorkingDirectory=/home/danfmaia/_repos/CodeQuery-API    
ExecStart=/home/danfmaia/_repos/CodeQuery-API/venv/bin/python run.py
Restart=always

# Logging configuration to integrate with journalctl
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=codequery_core

[Install]
WantedBy=multi-user.target